
.education-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.education-controls{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.addable-add{
    border-radius: 100%;
    background-color: #02D683;
    width: 25px;
    height: 25px;
    margin: 10px;
}
.addable-add:hover{
    cursor: pointer;
}
.addable-img{
    width: 25px;
    height: 25px;
}