
.education-dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.education-controls{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.education-controls:not(:last-child){
    border-bottom: 1px solid rgb(245, 245, 245);
    padding-bottom: 5px;
}

.action{
    border-radius: 100%;   
    width: 25px;
    height: 25px;
    margin: 10px;
}
.add{
    background-color: #02D683;
}
.remove{
    background-color: #d63e02;
}
.action:hover{
    cursor: pointer;
}
.action-img{
    width: 25px;
    height: 25px;
}