
.main-info{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}
.profile-photo{
    
    
}
.photo{
    width: 250px;
    height: 250px;
    border-radius: 300px;
    box-shadow: 0 0 2px 1px gray;
    position: relative;
    overflow: hidden;
}
.profile-photo:hover{
    cursor: pointer;
}
.profile-photo img{
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.more-width img{
    max-height: 100%;
}
.more-height img{
    max-width: 100%;
}

label{
    cursor: inherit;
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.photo-upload{
    
}
.profile-photo input{
    display: none;
}
.profile-photo p{
    border: 2px solid #37a7ed;
    border-radius: 15px;
    box-shadow: 0 0 2px 0 #37a7ed;
    color: #37a7ed;
    font-weight: 500;
    padding: 5px;
    margin: 0;
    transition: background-color .3s;
}
.profile-photo p:hover{
    background-color: #e2f2fb;
}
