
.container{
    width: 100%;
}
.content{
    position: relative;
    margin: auto;
    width: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.content .inner{
    display: flex;
    box-shadow: 0 0 5px 0 rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}

.left{
    margin:20px;
}
.profile-photo{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.right{
    margin: 20px;
}
.main-info{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.buttons{
    display: flex;
    gap:15px;
    flex-direction: row;
    justify-content: end;
    margin: 20px;
}