.textbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label{
    margin-right: 10px;
}
.textbox input{
    box-shadow: 0 0 2px 0px black;
    border: 0;
    border-radius: 6px;
    padding: 5px;
}
.textbox input:focus{
    outline: none;
}