.btn{
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;;
    padding: 5px;
    margin: 0;
    transition: background-color .3s
}
.btn:hover{
    cursor: pointer;
}
.btn.green{
    background-color: #0d9f2d;
    color: #cef7d4;
}
.btn.green:hover{
    box-shadow: 0 0 4px 0 #0d9f2d;
}
.btn.blue{
    background-color: #439cff;
    color: #cee6f7;
    
}
.btn.blue:hover{
    box-shadow: 0 0 4px 0 #0d619f;
}
.btn.red{
    background-color: #eb2d2d;
    color: #cee6f7;
    
}
.btn.red:hover{
    box-shadow: 0 0 4px 0 #ff1717;
}
.btn.gray{
    background-color: #d2d2d2;
}
.btn.gray:hover{
    box-shadow: 0 0 4px 0 #d2d2d2;
}